homework_3_coloring/__pycache__
homework_3_coloring\__pycache__
homework_1_1D_game_of_life/__pycache__
homework_1_1D_game_of_life\__pycache__
homework_2_schelling_model/__pycache__
homework_2_schelling_model\__pycache__
